<h1>New Attachment</h1>

<%= render 'form', attachment: @attachment %>

<!-- since the routes are changes attachments_path doesnot exist must be changed to blog_attachments_path -->
<%= link_to 'Back', blog_attachments_path %>
