// @import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import "font-awesome";

body{
  background-color: #fafafa;
}
.bg-light {
    background-color: white !important;
    border-bottom: solid 1px lightgrey;
}

.navbar {
    padding: 0.9rem 23rem;
}
.navbar-light .navbar-brand {
    color: #4e5560;
}
.form-inline {
  width: 100%;
  padding-left: 30%;
}
.insta-title{
  font-family: 'Lobster';
  font-size: 2em;
  font-weight: lighter;
  color: #4e5560;
}
.fa-camera {
    min-width: 27%;
}
.fa-ellipsis-v{
  min-width: 20%;
}
.nav-item{
  min-width: 60%;
  font-size: 1.3em;
}
.container{
  margin-top: 9rem;
}
.posts-home{
  // margin-left: %;
  max-width: 58%;
}
.card{
  min-width: 100%;
  height: 100%;
  // margin: 5rem;
}
.profile-post{
  display: flex;
}
.profile-post-pic{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
}
.profile-post-content{
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  min-width: 80%;
  min-height: 80%;
}
.post-pic{
  width:100%;
  height:100%;
}
.card-body{
  padding: 0rem;
}
.card-title {
  margin: 1.1rem;
}
.card-text{
  margin: 1.1rem;
  border-bottom: solid 1px #adb3bc;
}
.date{
  color:  #adb3bc;
}
// .comment-home{
//   width: 100%;
//   margin-left: 1.2rem;
// }
#comment_body {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: row;
    resize: auto;
    cursor: text;
    border-style: none;
    padding-left: 1.3rem;
    padding-bottom: 2rem;
    min-width: 100%;
    border-color: none;
}
#comment_body:root{
  border: none;
  border-style: none;
  border-color: white;
}
.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
    font-size: 1.1em;
}
.profile-follow-pic{
  max-width: 43%;
  max-height: 43%;
  border-radius: 50%;
  margin: 10% 30%;
}
.follow{
  margin: 5% 16%;
}
.follow-profile-name{
  text-align: center;
  font-size: 2em;
  color: #4e5560;
}
.shade-grey{
  color: grey;
}
