// @import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
  background-color: #fafafa;
}
.bg-light {
    background-color: white !important;
    border-bottom: solid 1px lightgrey;
}

.navbar {
    padding: 0.9rem 23rem;
}
.navbar-light .navbar-brand {
    color: #4e5560;
}
.form-inline {
  width: 100%;
  padding-left: 30%;
}
.insta-title{
  font-family: 'Lobster';
  font-size: 2em;
  font-weight: lighter;
  color: #4e5560;
}
.fa-camera {
    min-width: 27%;
}
.fa-ellipsis-v{
  min-width: 20%;
}
.nav-item{
  min-width: 60%;
  font-size: 1.3em;
}
.container{
  margin-top: 5rem;
}
.posts-home{
  // margin-left: %;
  max-width: 58%;
}
.card{
  min-width: 100%;
  height: 100%;
  margin: 5rem;
}
.profile-post{
  display: flex;
}
.profile-post-pic{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
}
.profile-post-content{
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  min-width: 80%;
  min-height: 80%;
}
.post-pic{
  width:100%;
  height:100%;
}
.card-body{
  padding: 0rem;
}
.card-title {
  margin: 1.1rem;
}
.card-text{
  margin: 1.1rem;
  border-bottom: solid 1px #adb3bc;
}
.date{
  color:  #adb3bc;
}
.comment-home{
  width: 100%;
  margin-left: 1.2rem;
}
.textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: row;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: none;
    border-color: initial;
    border-image:  none;
    padding: 2px;
    min-width: 100%;
    box-sizing: inherit;
}
