<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand insta-title" href="/">
    <i class="fas fa-camera-retro"></i>
    <i class="fas fa-ellipsis-v"></i>
    Instagram
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- </form> -->
    <%= form_tag(products_path , method: 'get', class: "form-inline my-2 my-lg-0")  do %>
        <%= text_field_tag :search, params[:search],placeholder: "search", class: "form-control mr-sm-2"%>
    <% end %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/follow/page"><i class="far fa-compass"></i></a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to '', profile_path(current_user), class: "nav-link far fa-heart" %>
        <% else %>
          <a class="nav-link" href="/"><i class="far fa-heart"></i></a>
        <% end %>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#"><i class="far fa-user"></i></a> -->
        <%= link_to '', destroy_user_session_path, method: :delete, class: "nav-link far fa-user" %>
      </li>
    </ul>
  </div>
</nav>
